<ion-view view-title="Defeat" class="tab-view">
    <ion-content class="padding">
            <h1 style="margin-top: 15%;
      margin-left: 20%;">Better Luck Next Time!</h1>
            <img src="img/defeat.png" style="width: 45%;margin-left: 25%;margin-top: 0;position: absolute;"/>
            <img src="img/ground.png" style="  width: 100%;z-index: -1;padding: 0;position: relative;margin-top: 21%;"/>
            <button class="button button-block button-assertive" ng-click="stats()">
                    Stats
            </button>
    </ion-content>
</ion-view>