<ion-view view-title="Fight!" class="tab-view">
    <ion-content>
    <br />
    <h1 style = "margin-left: 20%">Fight!</h1>
    <img src={{images}} style="width: 25%; margin-left: 17%;margin-top:5%;position:absolute;"/>
    <img src={{images2}} style="width: 25%; margin-left: 60%; margin-top: 5%; position: absolute;"/>
    <img src="img/ground.png" style="width:100%;z-index:-1;padding:0;position:relative;margin-top:20%;"/>
    <img src="img/healthbox.png" style="width:100%;height:10%;z-index:0;padding:0;position:absolute;margin-top:0%;" />
    <img src="img/p1healthcontainer.png" style="height:20px;z-index:1;padding:0;position:relative;margin-top:3%;margin-left:10%;  display: inline-block;"/>
    <img src="img/p2healthcontainer.png" style="height:20px;z-index:1;padding:0;position:relative;margin-top: 0%;margin-left: 5%;display: inline-block;"/>
    <div>
        <img src="img/p1piece.png" style="height: 5%;z-index: 1;padding: 0;position: absolute;margin-top: -7%;margin-left: 9%;
  display: inline-block;"/>
        <img src="img/p1piece.png" style="height: 5%;z-index: 1;padding: 0;position: absolute;margin-top: -7%;margin-left: 10%;
  display: inline-block;"/>
    </div>
  </ion-content>
</ion-view>