<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <!-- Stats Tab -->
    <ion-tab title="Stats" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="/tab/stats">
        <ion-nav-view name="tab-stats"></ion-nav-view>
    </ion-tab>
    <!-- Fight Tab -->
    <ion-tab title="Fight!" icon-off="ion-ios-bolt-outline" icon-on="ion-ios-bolt" href="/tab/fight">
        <ion-nav-view name="tab-fight"></ion-nav-view>
    </ion-tab>
     <!-- Account Tab -->
    <ion-tab title="Dashboard" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="/tab/dashboard">
        <ion-nav-view name="tab-dashboard"></ion-nav-view>
    </ion-tab>
</ion-tabs>